{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Welcome to the Dessert Zone</h1>
  <p>Here you can find a few tasty treats, and instructions on how to create your own. Enjoy!</p>
  <div class="row">
    {% for recipe in recipes.recipes %}
      <div class="col">
        <img src="img/{{ recipe.slug }}.jpg" alt="" class="img-fluid">
        <h2><a href="recipes/{{ recipe.slug }}.html">{{ recipe.name }}</a></h2>
      </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}